<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
    
  <body>
      <img width="640" height="480" src="http://192.168.11.18:8080/?action=stream" />
    
    <form action="/" method="post">
      <button name="get_key" value="up">up</button>
      <button name="get_key" value="right">right</button>
      <button name="get_key" value="left">left</button>
      <button name="get_key" value="down">down</button>
      <button name="get_key" value="stop">stop</button>
    </form>


  </body>
</html>